@use "@styles/abstracts" as *;

* {
  margin: 0;

  border: 0;

  box-sizing: border-box;

  padding: 0;
}

body {
  overflow: hidden;

  overscroll-behavior: none;
}

img {
  $size: 100%;

  object-fit: cover;
  object-position: top;

  block-size: $size;
  inline-size: $size;

  vertical-align: middle;

  font-style: italic;
}

button {
  background-color: transparent;

  @include media-hover {
    cursor: pointer;
  }
}
