@use "@styles/abstracts" as *;

* {
  margin: 0;

  border: 0;

  box-sizing: border-box;

  padding: 0;
}

html,
body,
main {
  min-block-size: 100svb;

  overflow: hidden;

  overscroll-behavior: none;
}

main {
  display: grid;

  padding: to-rem(10);

  grid-template-rows: 1fr auto;
  gap: to-rem(10);

  background-color: #130f0e;
}

img {
  position: absolute;
  inset: 0;

  object-fit: cover;

  block-size: 100%;
  inline-size: 100%;
}
