@use "@styles/abstracts/variables" as *;

:root {
  --color-dark: #{$color-dark};
  --color-dark-gray: #{$color-dark-gray};
  --color-light-gray: #{$color-light-gray};
  --color-light: #{$color-light};
}
