@use "@styles/abstracts/variables" as *;

:root {
  // Main Colors
  --color-dark: #{$color-dark};
  --color-dark-gray: #{$color-dark-gray};
  --color-light-gray: #{$color-light-gray};
  --color-light: #{$color-light};

  // RGB Colors
  --color-dark-rgb: #{$color-dark-rgb};
  --color-green-rgb: #{$color-green-rgb};
}
