@use "@styles/abstracts" as *;

.switcher {
  position: absolute;
  inset-block-end: to-rem(10);
  inset-inline-start: to-rem(10);
  z-index: 1;

  border-radius: to-rem($default-border-radius);

  block-size: to-rem(30);
  inline-size: to-rem(55);

  padding: to-rem(2);

  background-color: $color-dark-gray;
}

.inner {
  display: block;

  position: relative;

  border-radius: inherit;

  box-shadow: 0 0 to-rem(10) 0 rgb(30 30 30 / 100%) inset;

  block-size: 100%;
  inline-size: auto;

  background-color: $color-light;

  &::before,
  &::after {
    @include pseudo;

    background-color: $color-dark-gray;
  }

  &::before {
    inset: to-rem(1);

    border-radius: to-rem($default-border-radius);

    block-size: to-rem(24);
    inline-size: to-rem(24);
  }

  &::after {
    inset: to-rem(5) 0 to-rem(5) to-rem(11);

    border-radius: to-rem(10);

    block-size: to-rem(16);
    inline-size: to-rem(4);

    background-color: $color-light-gray;
  }

  &:global(.active) {
    &::before {
      inset-inline: auto to-rem(1);
    }

    &::after {
      inset-inline: auto to-rem(11);

      box-shadow: 0 0 to-rem(15) to-rem(1) rgb(0 255 72 / 50%);

      background-color: $color-green;
    }
  }
}
