@use "@styles/abstracts" as *;

.switcher {
  z-index: 1;
  position: absolute;
  background-color: $color-dark;
  padding: to-rem(2);
  border-radius: to-rem($default-border-radius);
  block-size: to-rem(30);
  inline-size: to-rem(55);
  bottom: to-rem(10);
  left: to-rem(10);
}

.inner {
  background-color: $color-light;
  display: block;
  border-radius: inherit;
  block-size: 100%;
  inline-size: auto;
  position: relative;
  box-shadow: 0 0 to-rem(10) 0 rgb(30 30 30 / 1) inset;

  &::before,
  &::after {
    @include pseudo;

    background-color: $color-dark;
  }

  &::before {
    border-radius: to-rem($default-border-radius);
    inset: to-rem(1);
    block-size: to-rem(24);
    inline-size: to-rem(24);
  }

  &::after {
    background-color: $color-light-dark;
    inset: to-rem(5) 0 to-rem(5) to-rem(11);
    inline-size: to-rem(4);
    border-radius: to-rem(10);
    block-size: to-rem(16);
  }

  &:global(.active) {
    &::before {
      right: to-rem(1);
      left: auto;
    }

    &::after {
      right: to-rem(11);
      left: auto;
      background-color: $color-green;
      box-shadow: 0 0 to-rem(15) to-rem(1) rgb(0 255 72 / 0.5);
    }
  }
}
