@use "@styles/abstracts" as *;

.button {
  position: relative;
  background-color: var(--color-primary-light, $color-primary-light);

  &::before,
  &::after {
    @include pseudo;
  }

  &::before {
    z-index: var(--z-index-1, $z-index-1);

    border-radius: inherit;

    background-image: var(
      --color-primary-light-gradient,
      $color-primary-light-gradient
    );
  }

  &::after {
    inset: to-rem(-1);
  }
}
