@use "@styles/abstracts" as *;

.player {
  border-radius: to-rem(5);

  block-size: to-rem(28);
  inline-size: to-rem(52);

  flex: 0 0 to-rem(52);

  &::before {
    inset: to-rem(2);

    block-size: auto;
    inline-size: to-rem(24);

    transition: inset-inline var(--default-transition, $default-transition);
  }

  &::after {
    box-shadow: 0 0 to-rem(20) to-rem(6)
      var(--color-primary-dark, $color-primary-dark) inset;
  }

  &.active {
    &::before {
      inset-inline-start: to-rem(26);
    }
  }
}
