@use "@styles/abstracts" as *;

.player {
  $inset-inline-start: 12;
  $border-radius: 5;

  position: relative;

  border-radius: to-rem($border-radius);

  block-size: to-rem(28);
  inline-size: to-rem(52);

  background-color: var(--color-primary-light, $color-primary-light);

  &::before,
  &::after {
    @include pseudo;
  }

  &::before {
    $size: 24;

    inset: to-rem(2);
    z-index: var(--z-index-1, $z-index-1);

    border-radius: to-rem($border-radius);

    block-size: to-rem($size);
    inline-size: to-rem($size);

    background-image: var(
      --color-primary-light-gradient,
      $color-primary-light-gradient
    );
  }

  &::after {
    inset: 0;

    box-shadow: 0 0 to-rem(20) to-rem(6)
      var(--color-primary-dark, $color-primary-dark) inset;
  }

  &.active {
    &::before {
      inset-inline: auto to-rem($padding);
    }
  }
}
