// Z Indexes
$z-index-1: 1;

// Main Colors
$color-dark: #130f0e;
$color-light: #e7cf8a;

// Secondary Colors
$color-black: #000;
$color-red: #f00;
$color-green: #0f0;
$color-blue: #00f;

// Gradients
$color-light-gradient: linear-gradient(
  rgb(150 150 150) 30%,
  rgb(40 40 40) 60%,
  rgb(77 77 77) 90%
);
