@use "sass:math" as *;
@use "@styles/abstracts" as *;

.screen {
  position: relative;

  border-radius: to-rem(10);

  overflow: hidden;

  user-select: none;

  &::before,
  &::after {
    @include pseudo;

    inset: 0;
    z-index: var(--z-index-1, $z-index-1);
  }

  &::before {
    background-image: linear-gradient(
        scale-color($color-dark, $alpha: -100%) 50%,
        scale-color(scale-color($color-dark, $alpha: -10%), $alpha: -65%) 50%
      ),
      linear-gradient(
        90deg,
        scale-color($color-red, $alpha: -94%),
        scale-color($color-green, $alpha: -98%),
        scale-color($color-blue, $alpha: -94%)
      );
    background-size:
      100% to-rem(3),
      to-rem(4) 100%;
  }

  &.flicker {
    &::after {
      background-color: scale-color($color-dark, $alpha: -90%);

      animation: flicker 0.15s infinite;

      @keyframes flicker {
        $steps: 25;

        @for $index from 0 through $steps {
          #{percentage($index * div(1, $steps))} {
            opacity: random();
          }
        }
      }
    }
  }
}
