@use "@styles/abstracts" as *;

.switcher {
  border-radius: 50%;

  block-size: to-rem(28);
  inline-size: to-rem(28);

  flex: 0 0 to-rem(28);

  &::before {
    inset: 50%;

    block-size: to-rem(24);
    inline-size: to-rem(24);

    translate: -50% -50%;

    transition: scale 0.1s ease-in-out;
  }

  &::after {
    box-shadow: 0 0 to-rem(20) to-rem(4)
      var(--color-primary-dark, $color-primary-dark) inset;
  }

  &.active {
    &::before {
      scale: 0.9;
    }
  }
}
