@use "@styles/abstracts" as *;

.switcher {
  border-radius: 50%;

  block-size: to-rem(35);
  inline-size: to-rem(35);

  flex: 0 0 to-rem(35);

  &::before {
    block-size: 89%;
    inline-size: 89%;

    translate: -49% -49%;

    transition: scale var(--default-transition, $default-transition);
  }

  &::after {
    box-shadow: var(--default-box-shadow, $default-box-shadow);
  }

  &:active {
    &::before {
      scale: 0.9;
    }
  }
}
