// Border Radiuses
$default-border-radius: 1;

// Main Colors
$color-dark: #111;
$color-dark-gray: #333;
$color-light-gray: #3e3e3e;
$color-light: #ffffc2;
$color-red: #f00;
$color-green: #0f0;
$color-blue: #00f;

// RGB Colors
$color-dark-rgb: 30 30 30;
$color-green-rgb: 0 255 72;
