@use "sass:math" as *;
@use "@styles/abstracts" as *;

.player {
  $inset-inline-start: 12;
  $border-radius: 5;
  $padding: 2;

  position: relative;

  border-radius: to-rem($border-radius);

  box-shadow: 0 0 to-rem(20) to-rem(6) var(--color-dark, $color-dark) inset;

  block-size: to-rem(28);
  inline-size: to-rem(52);

  padding: to-rem($padding);

  background-color: var(--color-light, $color-light);

  &::before {
    $size: 24;

    @include pseudo;

    inset: to-rem($padding);

    border-radius: to-rem($border-radius);

    block-size: to-rem($size);
    inline-size: to-rem($size);

    background-image: linear-gradient(
      rgb(150 150 150) 30%,
      rgb(40 40 40) 60%,
      rgb(77 77 77) 90%
    );
  }

  &.play {
    &::before {
      inset-inline: auto to-rem($padding);
    }
  }

  @include media-hover {
    cursor: pointer;
  }
}

.input {
  appearance: none;

  max-inline-size: to-rem(140);

  background-color: transparent;

  &::-webkit-slider-runnable-track {
    border-radius: to-rem(3);

    box-shadow: 0 0 to-rem(10) to-rem(2) var(--color-dark, $color-dark) inset;

    block-size: to-rem(10);

    background-color: var(--color-light, $color-light);
  }

  &::-webkit-slider-thumb {
    appearance: none;

    position: relative;

    margin-block-start: to-rem(-5);

    border-radius: to-rem(2);

    block-size: to-rem(20);
    inline-size: to-rem(10);

    background-image: linear-gradient(
      rgb(150 150 150) 30%,
      rgb(40 40 40) 60%,
      rgb(77 77 77) 90%
    );
  }

  &::-moz-range-track {
    border-radius: to-rem(3);

    box-shadow: 0 0 to-rem(10) to-rem(2) var(--color-dark, $color-dark) inset;

    block-size: to-rem(10);

    background-color: var(--color-light, $color-light);
  }

  &::-moz-range-thumb {
    appearance: none;

    margin-block-start: to-rem(-5);

    border-radius: to-rem(2);

    block-size: to-rem(20);
    inline-size: to-rem(10);

    background-image: linear-gradient(
      rgb(150 150 150) 30%,
      rgb(40 40 40) 60%,
      rgb(77 77 77) 90%
    );
  }

  @include media-hover {
    cursor: pointer;
  }
}
