@use "sass:math" as *;
@use "@styles/abstracts" as *;

.switcher {
  $inset: 10;
  $padding: 2;

  position: absolute;
  inset-block-end: to-rem($inset);
  inset-inline-start: to-rem($inset);
  z-index: 1;

  box-shadow:
    0 0 to-rem($inset) to-rem($padding) var(--color-dark-gray, $color-dark-gray)
      inset,
    0 0 0 to-rem($padding) var(--color-dark-gray, $color-dark-gray);

  block-size: to-rem(28);
  inline-size: to-rem(52);

  padding: to-rem($padding);

  background-color: var(--color-light, $color-light);

  &::before,
  &::after {
    @include pseudo;
  }

  &::before {
    $size: 24;

    inset: to-rem($padding);

    block-size: to-rem($size);
    inline-size: to-rem($size);

    background-color: var(--color-dark-gray, $color-dark-gray);
  }

  &::after {
    $inline-size: 4;
    $inset-block: 6;

    inset: to-rem($inset-block) 0 to-rem($inset-block) to-rem(12);

    border-radius: to-rem(div($inline-size, 2));

    block-size: to-rem(16);
    inline-size: to-rem($inline-size);

    background-color: var(--color-light-gray, $color-light-gray);
  }

  &.play {
    &::before {
      inset-inline: auto to-rem($padding);
    }

    &::after {
      inset-inline: auto to-rem(12);

      box-shadow: 0 0 to-rem(15) to-rem(1) var(--color-green, $color-green);

      background-color: var(--color-green, $color-green);
    }
  }

  @include media-hover {
    cursor: pointer;
  }
}
