@use "@styles/abstracts" as *;

.player {
  $inset-inline-start: 12;
  $border-radius: 5;
  $padding: 2;

  position: relative;

  border-radius: to-rem($border-radius);

  block-size: to-rem(28);
  inline-size: to-rem(52);

  padding: to-rem($padding);

  background-color: var(--color-light, $color-light);

  &::before {
    $size: 24;

    @include pseudo;

    inset: to-rem($padding);
    z-index: var(--z-index-1, $z-index-1);

    border-radius: to-rem($border-radius);

    block-size: to-rem($size);
    inline-size: to-rem($size);

    background-image: var(--color-light-gradient, $color-light-gradient);
  }

  &::after {
    @include pseudo;

    inset: 0;

    box-shadow: 0 0 to-rem(20) to-rem(6) var(--color-dark, $color-dark) inset;
  }

  &.play {
    &::before {
      inset-inline: auto to-rem($padding);
    }
  }
}
