@use "@styles/abstracts" as *;

.mixer {
  display: flex;

  position: relative;

  block-size: to-rem(20);
  max-inline-size: to-rem(100);

  flex-wrap: nowrap;

  align-items: center;

  background-color: transparent;

  &::before {
    @include pseudo;

    border-radius: to-rem(3);

    box-shadow: 0 0 to-rem(10) to-rem(2)
      var(--color-primary-dark, $color-primary-dark) inset;

    block-size: to-rem(10);
    inline-size: 100%;

    background-color: var(--color-primary-light, $color-primary-light);
  }

  &::-webkit-slider-thumb {
    appearance: none;

    position: relative;

    border-radius: to-rem(2);

    block-size: to-rem(20);
    inline-size: to-rem(10);

    background-image: var(
      --color-primary-light-gradient,
      $color-primary-light-gradient
    );
  }

  &::-moz-range-thumb {
    appearance: none;

    border-radius: to-rem(2);

    block-size: to-rem(20);
    inline-size: to-rem(10);

    background-image: var(
      --color-primary-light-gradient,
      $color-primary-light-gradient
    );
  }
}
