@use "@styles/abstracts" as *;

.mixer {
  position: relative;

  block-size: to-rem(14);
  max-inline-size: to-rem(100);

  background-color: transparent;

  &::before,
  &::after {
    @include pseudo;

    inset: 0;
  }

  &::before {
    border-radius: to-rem(3);

    background-color: var(--color-primary-light, $color-primary-light);
  }

  &::after {
    box-shadow: 0 0 to-rem(10) to-rem(3)
      var(--color-primary-dark, $color-primary-dark) inset;
  }

  &::-webkit-slider-thumb {
    appearance: none;

    z-index: var(--z-index-1, $z-index-1);
    position: relative;

    border-radius: to-rem(3);

    block-size: to-rem(28);
    inline-size: to-rem(14);

    background-image: var(
      --color-primary-light-gradient,
      $color-primary-light-gradient
    );
  }

  &::-moz-range-thumb {
    appearance: none;

    z-index: var(--z-index-1, $z-index-1);
    position: relative;

    border-radius: to-rem(3);

    block-size: to-rem(28);
    inline-size: to-rem(14);

    background-image: var(
      --color-primary-light-gradient,
      $color-primary-light-gradient
    );
  }
}
