@use "sass:math" as *;
@use "@styles/abstracts" as *;

.logo {
  padding-inline: to-rem(2);

  line-height: div(45, 40);

  text-align: center;

  font-size: to-rem(40);
  font-weight: 600;

  background-image: linear-gradient(
    rgb(150 150 150) 30%,
    rgb(40 40 40) 60%,
    rgb(77 77 77) 90%
  );
  background-clip: text;

  user-select: none;
  -webkit-text-fill-color: transparent;
}
