@use "@styles/abstracts" as *;

.switcher {
  position: relative;

  border-radius: 50%;

  block-size: to-rem(28);
  inline-size: to-rem(28);

  background-color: var(--color-primary-light, $color-primary-light);

  &::before,
  &::after {
    @include pseudo;
  }

  &::before {
    inset-block-start: 50%;
    inset-inline-start: 50%;
    z-index: var(--z-index-1, $z-index-1);

    border-radius: 50%;

    block-size: to-rem(24);
    inline-size: to-rem(24);

    background-image: var(
      --color-primary-light-gradient,
      $color-primary-light-gradient
    );

    transform: translate(-50%, -50%);
  }

  &::after {
    inset: 0;

    box-shadow: 0 0 to-rem(20) to-rem(4)
      var(--color-primary-dark, $color-primary-dark) inset;
  }

  &:active {
    &::before {
      block-size: to-rem(20);
      inline-size: to-rem(20);
    }
  }
}
