@use "@styles/abstracts" as *;

$screen-background: #111;

.crtEffect {
  &::before {
    @include pseudo;

    z-index: 1;
    inset: 0;

    background: linear-gradient(
        transparentize($screen-background, 1) 50%,
        transparentize(darken($screen-background, 10), 0.65) 50%
      ),
      linear-gradient(
        90deg,
        transparentize(#f00, 0.94),
        transparentize(#0f0, 0.98),
        transparentize(#00f, 0.94)
      );
    background-size:
      100% to-rem(4),
      to-rem(5) 100%;

    pointer-events: none;
  }
}
