@use "sass:math" as *;
@use "@styles/abstracts" as *;

.logo {
  margin-inline-start: auto;

  padding-inline: to-rem(3);

  line-height: div(45, 40);

  font-size: to-rem(40);

  background-image: linear-gradient(
    rgb(150 150 150) 30%,
    rgb(40 40 40) 60%,
    rgb(77 77 77) 90%
  );
  background-clip: text;

  filter: drop-shadow(to-rem(-0.5) to-rem(1) 0 var(--color-black, $color-black));

  user-select: none;

  -webkit-text-fill-color: transparent;
}
