@use "sass:math" as *;
@use "@styles/abstracts" as *;

.logo {
  @media (width <= 600px) {
    display: none;
  }

  @media (width >= 600px) {
    position: absolute;
    inset-inline-end: 0;

    padding-inline: to-rem(2);

    line-height: div(55, 50);

    font-size: to-rem(50);

    background-image: var(
      --color-primary-light-gradient,
      $color-primary-light-gradient
    );
    background-clip: text;

    filter: drop-shadow(
      to-rem(-0.5) to-rem(1) 0 var(--color-secondary-black, $color-secondary-black)
    );

    -webkit-text-fill-color: transparent;
  }
}
