@use "@/styles/abstracts" as *;

*,
*::before,
*::after {
  outline: none;

  margin: 0;

  border: 0;

  box-sizing: border-box;

  padding: 0;

  cursor: url("/icons/cursor-default.svg"), default;

  user-select: none;
}

body {
  display: grid;

  min-block-size: 100svb;

  padding: to-rem(10) to-rem(10) to-rem(15);

  overflow: hidden;

  overscroll-behavior: none;

  grid-template-rows: 1fr auto;
  gap: to-rem(15);

  font-size: to-rem(8);

  background-color: var(--color-primary-dark, $color-primary-dark);
}

img {
  border-radius: inherit;
  object-fit: cover;
}

span {
  opacity: 0.5;
  margin-inline: auto;
}

button,
input {
  appearance: none;
  display: block;

  &:disabled,
  [aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;

    + span {
      opacity: 0.25;
    }
  }
}
