@use "@styles/abstracts" as *;

*,
*::before,
*::after {
  outline: none;

  margin: 0;

  border: 0;

  box-sizing: border-box;

  padding: 0;

  cursor: url("/icons/cursor-default.svg"), default;

  user-select: none;
}

body {
  display: grid;

  min-block-size: 100svb;

  padding: to-rem(10) to-rem(10) to-rem(15);

  overflow: hidden;

  overscroll-behavior: none;

  grid-template-rows: 1fr auto;
  gap: to-rem(15);

  background-color: var(--color-primary-dark, $color-primary-dark);
}

img {
  object-fit: cover;
}

input {
  appearance: none;
  display: block;
}
