@use "@/styles/abstracts" as *;

:root {
  // Main Colors
  --color-primary-dark: #{$color-primary-dark};
  --color-primary-light: #{$color-primary-light};

  // Gradients
  --color-primary-light-gradient: #{$color-primary-light-gradient};

  // Box Shadows
  --default-box-shadow: #{$default-box-shadow};

  // Z Indexes
  --z-index-1: #{$z-index-1};

  // Border Radiuses
  --default-border-radius: #{$default-border-radius};

  // Transitions
  --default-transition: #{$default-transition};

  line-height: 1;

  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;

  font-family: "Helvetica Neue", sans-serif;
  font-weight: 600;

  color: var(--color-primary-light, $color-primary-light);

  -webkit-font-smoothing: antialiased;
}
